@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.card {
  /* border: 1px solid red; */
  padding: 16px;
  width: 380px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 8px;
}

.mainImg {
  width: 80%;
}

.imgBox > img {
  width: 100%;
  border-radius: 8px;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  display: flex;
}

.details {
  /* border: 1px solid yellow; */
  color: gray;
  font-size: 19px;
  font-weight: 400;
}

.infoBox {
  display: flex;
  justify-content: space-between;
}

.info {
  /* border: 1px solid yellow; */
  color: cyan;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
}

.days {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
}

hr {
  color: gray;
  border-style: line;
}

.creator {
  border: 1px solid white;
  color: gray;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: left;
  width: 38px;
  height: 38px;
  border-radius: 100px;
}

.imgContainer {
  display: flex;
  gap: 15px;
  justify-items: space-between;
  align-items: center;
}

.aB {
  color: white;
}

.p {
  color: gray;
}

.b {
  border-color: none;
  background-color: black;
  border-radius: 5px;
}

#buttonOne {
  border: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

#buttonTwo {
  border: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

#julesWyvern {
  color: black;
}
